name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *"  # Runs every 12 hours
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      
      - uses: Platane/snk@v3
        id: snake-gif
        with:
          github_user_name: riddhi-z1465  # Replace with your GitHub username
          outputs: |
            dist/snake/github-contribution-grid-snake.svg
            dist/snake/github-contribution-grid-snake-dark.svg?palette=github-dark
            dist/snake/github-contribution-grid-snake.gif
            dist/snake/snake.svg?color_snake=00ff9c&color_dots=161b22,0e4429,006d32,26a641
            dist/snake/snake-dark.svg?palette=github-dark&color_snake=39ff14&color_dots=0d1117,0e4429,006d32,39ff14
      
      - uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
          keep_history: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
